h2 {
    text-align: center;
    margin-top: 5%;
}

.container {
    margin-top: 5%;
}

.lgn-container {
    margin-right: 25%;
    margin-left: 25%;
}
@media (max-width: 1000px) {
    .lgn-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.btn-login {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}