{% extends '../base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}
{% block page_content %}
    <h2>Είσοδος</h2>
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-6">
            <form id="login-form" method="post">
            <!--                action="{% url 'login' %}">-->

                {% csrf_token %}
<!--                {{ form.as_p }}-->
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Your username or password was not correct.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}

                <input type="submit" value="Είσοδος" 
                       class="btn btn-primary btn-login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
{% endblock %}