{% extends "./base.html" %}
{% load static %}
{% load extra_tags %}

{% block title %}Αίτηση Υπουργείο Ανάπτυξης{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/ypanApp.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css">
<link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/bootstrap-uploadprogress.js' %}"> </script>

{% endblock %}

{% block page_content %}
<div class="content_application">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#app_list">Αιτήσεις</a>
        </li>
        {% if user.is_foreas %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#new_app">Νέα Αίτηση</a>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div id="app_list" class="tab-pane active">
            <div class="pending_list">
                <!-- <h2 class="ml-3">Αιτήσεις σε εκκρεμότητα:</h2> -->
                {% if pendingApps %}
                <div class="table-responsive">
                    <table class="table table-bordered tablesorter-bootstrap" id="apptable">
                        <thead>
                        <tr>
                            <th scope="col" class="filter-false sorter-false">#</th>
                            <th scope="col" class="filter-onlyAvail">Αρ. Αίτησης</th>
                            <th scope="col" class="filter-onlyAvail">Κατάσταση</th>
                            <th scope="col" class="filter-onlyAvail">Ημερομηνία Υποβολής</th>
                            {% if user.is_ypan %}
                            <th scope="col" class="filter-onlyAvail">Υποβλήθηκε από</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for pendApp in pendingApps%}
                        <tr class="">
                            <td class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse"
                                data-parent="#accordion1" href="#id{{ pendApp.id }}"><br><b class="expand-button"></b>
                            </td>
                            <td>{{ pendApp.id }}</td>
                            <td>{{ pendApp.status }}</td>
                            <td>{{ pendApp.date|date:"d/m/Y" }}</td>
                            {% if user.is_ypan %}
                            <td><a href=""data-toggle="modal"
                                data-target="#exampleModal{{ pendApp.foreas.foreas_profile.user_id}}">{{ pendApp.foreas.foreas_profile.companyName }}</a>
                               <!--  {{ pendApp.foreas.foreas_profile.companyName }} (ΑΦΜ:
                                {{ pendApp.foreas.foreas_profile.afm }})
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModal{{ pendApp.foreas.foreas_profile.user_id}}">
                                    Πληροφορίες!
                                </button> -->

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{ pendApp.foreas.foreas_profile.user_id}}" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{ pendApp.foreas.foreas_profile.companyName }}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div><u>Διακριτικός Τίτλος:</u> {{ pendApp.foreas.foreas_profile.distTitle }}</div>
                                                <div><u>ΑΦΜ:</u> {{ pendApp.foreas.foreas_profile.afm }}</div>
                                                <div><u>Δ.Ο.Υ:</u> {{ pendApp.foreas.foreas_profile.doy }}</div>
                                                <div><u>ΓΕΜΗ:</u> {{ pendApp.foreas.foreas_profile.gemi }}</div>
                                                <div><u>Διεύθυνση:</u> {{ pendApp.foreas.foreas_profile.address}}</div>
                                                <div><u>Ταχ. Κώδικας:</u> {{ pendApp.foreas.foreas_profile.postalCode }}</div>
                                                <div><u>Τηλέφωνο:</u> {{ pendApp.foreas.foreas_profile.phone }}</div>
                                                <div><u>Φαξ:</u> {{ pendApp.foreas.foreas_profile.fax }}</div>
                                                <div><u>Email:</u> {{ pendApp.foreas.foreas_profile.email }}</div>
                                                <div><u>Υπεύθυνος Επικοινωνίας:</u> {{ pendApp.foreas.foreas_profile.contactPerson }}</div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    ΟΚ
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        <tr class="tablesorter-childRow">
                            <td></td>
                            <td colspan="5">
                                <div id="id{{ pendApp.id }}" class="collapse in p-3">
                                    <div class="row">
                                        {% if user.is_ypan %}
                                        <div class="col"><b>ΠΡΟΒΟΛΗ ΑΡΧΕΙΩΝ</b></div>
                                        {% endif %}
                                        <div class="col"><b>Πεδίο</b></div>
                                        <div class="col"><b>Κατάσταση</b></div>
                                        <div class="col"><b>Ημερομηνία Λήξης</b></div>
                                        {% if user.is_ypan %}
                                        <div class="col"><b>Αποθήκευση</b></div>
                                        {% endif %}
                                    </div>
                                    {% if user.is_ypan %}
                                    <form>
                                        {% for field in pendApp.ypan_subfields.all %}
                                        {% with form_name="form"|addstr:pendApp.id|addstr:field.subField|cut:" " %}
                                        {% with form=status_forms|get_item:form_name %}
                                        <div class="row border-top mt-3">
                                            <div class="col hide-table-padding accordion-toggle collapsed"
                                                 id="accordion2" data-toggle="collapse"
                                                 data-parent="#accordion2" href="#id2{{ pendApp.id }}"><br><b
                                                    class="expand-button"></b></div>
                                            <div class="col"> {{ field.subField }}</div>

                                            <div class="col">{{ form.status }}</div>
                                            <div class="col"> {{ form.expDate }}</div>
                                            <div class="col">
                                                <button onclick="cancelSave('{{form_name}}')" type="reset"
                                                        class="btn btn-sm btn-danger hidden" data-testid="{{form_name}}"
                                                        id="cancel-{{form_name}}" value="Cancel">Cancel
                                                </button>
                                                <button onclick="editSubfield('{{form_name}}')" type="button"
                                                        class="btn btn-sm btn-warning" data-testid="{{form_name}}"
                                                        id="edit-{{form_name}}">Edit
                                                </button>
                                                <button onclick="saveSubfield('{{form_name}}')" type="button"
                                                        class="btn btn-sm btn-info" disabled="True"
                                                        data-testid="{{form_name}}"
                                                        id="save-{{form_name}}">Save
                                                </button>
                                                <button
                                                        onclick="confirmSave('{{form_name}}','{{field.id}}','{{field.subField}}')"
                                                        type="button" class="btn btn-sm btn-primary hidden"
                                                        data-testid="{{form_name}}"
                                                        id="confirm-{{form_name}}">Confirm
                                                </button>

                                            </div>
                                        </div>
                                        {% endwith %}
                                        {% endwith %}
                                        {% endfor %}
                                    </form>
                                    {% endif %}


                                    {% if user.is_foreas %}

                                    {% for field in pendApp.ypan_subfields.all %}
                                    <div class="row border-top mt-3">
                                        <div class="col"> {{ field.subField }}</div>
                                        {% if field.status == 'Σε εκκρεμότητα' %}
                                        <div class="col text-primary"> {{ field.status }}</div>
                                        {% elif field.status == 'Απορρίφθηκε' %}
                                        <div class="col text-danger"> {{ field.status }}</div>
                                        {% elif field.status == 'Εγκρίθηκε' %}
                                        <div class="col text-success"> {{ field.status }}</div>
                                        {% endif %}
                                        <div class="col"> {{ field.expDate|date:"d/m/Y" }}</div>
                                    </div>
                                    {% endfor %}

                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr class="hide-table-padding tablesorter-childRow">
                            <td></td>
                            <td colspan="5">
                                <div id="id2{{ pendApp.id }}" class="collapse in p-3">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th><b>Πιστοποιητικό Πρωτοδικείου περί μη πτώχευσης σε ισχύ</b></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Non_Bankruptcy_Cert_1.url }}', '_blank');" >{% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                              {{ pendApp.Non_Bankruptcy_Cert_1.name|cut:myFilter }}
                                                {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Πιστοποιητικό Πρωτοδικείου περί μη κατάθεσης αίτησης
                                                πτωχεύσεως σε
                                                ισχύ</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Non_Bankruptcy_Cert_2.url }}', '_blank');" >{% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                                {{ pendApp.Non_Bankruptcy_Cert_2.name|cut:myFilter }}
                                                {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Πιστοποιητικό Πρωτοδικείου περί μη θέσης σε εκκαθάριση σε ισχύ</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Non_Clearance_Cert.url }}', '_blank');">
                                                {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                                {{ pendApp.Non_Clearance_Cert.name|cut:myFilter }}
                                                {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Πιστοποιητικό Πρωτοδικείου περί μη θέσης σε αναγκαστική
                                            διαχείριση σε
                                            ισχύ</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Non_Force_Arrange_Cert.url }}', '_blank');">
                                            {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                            {{ pendApp.Non_Force_Arrange_Cert.name|cut:myFilter }}
                                            {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Πιστοποιητικό ΓΕΜΗ Γενικής Χρήσης και Εκπροσώπησης</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.GEMI_Cert.url }}', '_blank');">
                                                    {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                                    {{ pendApp.GEMI_Cert.name|cut:myFilter }}
                                                    {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Αποδεικτικό ενημερότητας για χρέη προς το Δημόσιο</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Tax_Clear_Cert.url }}', '_blank');">
                                                    {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                                    {{ pendApp.Tax_Clear_Cert.name|cut:myFilter }}
                                                    {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Βεβαίωση ΙΚΑ περί ασφαλιστικής ενημερότητας σε ισχύ</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Insurance_Liability_Cert.url }}', '_blank');">
                                                    {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                                    {{ pendApp.Insurance_Liability_Cert.name|cut:myFilter }}
                                                    {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Βεβαίωση ασφάλισης επαγγελματικής αστικής ευθύνης για
                                            την κάλυψη κινδύνων των παρεχόμενων
                                            υπηρεσιών</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Civil_ID.url }}', '_blank');">
                                            {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                            {{ pendApp.Civil_ID.name|cut:myFilter }}
                                            {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Ισολογισμοί τριών τελευταίων ετών</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Balance_Sheet_3Y.url }}', '_blank');">
                                                    {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                                    {{ pendApp.Balance_Sheet_3Y.name|cut:myFilter }}
                                                    {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Κωδικοποιημένο καταστατικό της εταιρείας</b><br></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Art_Of_Incorporation.url }}', '_blank');">
                                            {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                            {{ pendApp.Art_Of_Incorporation.name|cut:myFilter }}
                                            {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Βεβαίωση περί μη τροποποίησης του πιστοποιητικού ΓΕΜΗ</b></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.GEMI_NoMod_Cert.url }}', '_blank');">
                                            {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                            {{ pendApp.GEMI_NoMod_Cert.name|cut:myFilter }}
                                            {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Υπεύθυνη δήλωση του κοινοποιημένου οργανισμού για τη
                                            δραστηριοποίησή του ή μη σε άλλες χώρες</b></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Foreign_Activity_Decl.url }}', '_blank');">
                                            {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                            {{ pendApp.Foreign_Activity_Decl.name|cut:myFilter }}
                                            {% endwith %}</a></td>
                                        </tr>
                                        <tr>
                                            <th><b>Υπεύθυνη δήλωση του κοινοποιημένου φορέα για τη
                                            συμμετοχή του ή μη στις ομάδες
                                            συντονισμού</b></th>
                                            <td><a href="" onclick="window.open('{{ pendApp.Coord_Group_Decl.url }}', '_blank');">
                                            {% with myFilter="ypan_applications/"|add:pendApp.foreas.foreas_profile.companyName|add:'/' %}
                                            {{ pendApp.Coord_Group_Decl.name|cut:myFilter }}
                                            {% endwith %}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h4 class="ml-3">Δεν υπάρχουν αιτήσεις σε εκκρεμότητα</h4>
                {% endif %}
            </div>
        </div>
        {% if user.is_foreas %}
        <div class="upload_app tab-pane" id="new_app">
            <h2 class="ml-3">Αίτηση νέου πιστοποιητικού διαπίστευσης (Υπουργείο Ανάπτυξης):</h2>
            </br>
            <div class="d-flex justify-content-center align-items-center container ">
                <div class="row ">
                    <form id="id_ajax_upload_form" method="post" enctype="multipart/form-data" action="">
                        {% csrf_token %}
                        {% include 'bs4_form.html' with form=form %}
                        </br>
                        <button type="submit" value="save" class="btn btn-info ml-3">Καταχώρηση</button>
                    </form>
                </div>
            </div>
            {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">


    function editSubfield(form_name) {
        var saveBtn = $(`[id="save-${form_name}"]`)
        var cancelBtn = $(`[id="cancel-${form_name}"]`)
        var confirmBtn = $(`[id="confirm-${form_name}"]`)
        var editBtn = $(`[id="edit-${form_name}"]`)
        var status_field = $(`[id="status-${form_name}"]`)
        var date_field = $(`[id="expDate-${form_name}"]`)
        date_field.datepicker({
            dateFormat: "yy-mm-dd",
            minDate: $.datepicker.formatDate('yy-mm-dd', new Date())
        })
        saveBtn.prop('disabled', false)
        cancelBtn.removeClass('hidden')
        status_field.prop('disabled', false)
        date_field.prop('disabled', false)

    }

    function saveSubfield(form_name) {
        var saveBtn = $(`[id="save-${form_name}"]`)
        var cancelBtn = $(`[id="cancel-${form_name}"]`)
        var confirmBtn = $(`[id="confirm-${form_name}"]`)
        var editBtn = $(`[id="edit-${form_name}"]`)
        var status_field = $(`[id="status-${form_name}"]`)
        var date_field = $(`[id="expDate-${form_name}"]`)

        saveBtn.addClass('hidden')

        cancelBtn.removeClass('hidden')
        confirmBtn.removeClass('hidden')
    }


    function cancelSave(form_name) {

        var saveBtn = $(`[id="save-${form_name}"]`)
        var cancelBtn = $(`[id="cancel-${form_name}"]`)
        var confirmBtn = $(`[id="confirm-${form_name}"]`)
        var status_field = $(`[id="status-${form_name}"]`)
        var date_field = $(`[id="expDate-${form_name}"]`)
        saveBtn.removeClass('hidden')
        saveBtn.prop('disabled', true)
        cancelBtn.addClass('hidden')
        confirmBtn.addClass('hidden')
        status_field.prop('disabled', true)
        date_field.prop('disabled', true)

    }


    function confirmSave(form_name, field_id, field_name) {
        console.log('Saved!')
        var testid = $(this).data('testid')
        var saveBtn = $(`[id="save-${form_name}"]`)
        var cancelBtn = $(`[id="cancel-${form_name}"]`)
        var confirmBtn = $(`[id="confirm-${form_name}"]`)

        saveBtn.removeClass('hidden')

        cancelBtn.addClass('hidden')
        confirmBtn.addClass('hidden')
        var status = $(`[id="status-${form_name}"]`).val()
        var date = $(`[id="expDate-${form_name}"]`).val()
        var data = { 'status': status, 'date': date, 'application_id': form_name[4], 'field_id': field_id, 'field_name': field_name }
        console.log(data)
        updateSubfieldPOST(data)

    }

    function updateSubfieldPOST(data) {
        var url = "{% url 'ypan_update_subfield' %}"
        $.ajax({
            method: 'POST',
            url: url,
            data: data,
            success: function () {
                window.location.href = "{% url 'ypan_xeiristis' %}"
            }
        })
    }

    $(function() {
        $('#id_Civil_ExpDate').datepicker({
            dateFormat: "yy-mm-dd",
            minDate: $.datepicker.formatDate('yy-mm-dd', new Date())
        })

  $("#apptable").tablesorter({
    theme : 'blue',
      // this is the default setting
      cssChildRow : 'tablesorter-childRow',
      // initialize zebra and filter widgets
      widgets : [  'filter' ],
      widgetOptions : {
      // Use the $.tablesorter.storage utility to save the most recent filters
      filter_saveFilters : true,
      // jQuery selector string of an element used to reset the filters
      filter_reset : 'button.reset',
      // add custom selector elements to the filter row
      filter_formatter : {

        // Alphanumeric (exact)
        1 : function($cell, indx) {
          return $.tablesorter.filterFormatter.select2( $cell, indx, {
            match : false // exact match only
          });
        },
        // Alphanumeric (exact)
        2 : function($cell, indx) {
          return $.tablesorter.filterFormatter.select2( $cell, indx, {
            match : false // exact match only
          });
        },
        // Alphanumeric (exact)
        4 : function($cell, indx) {
          return $.tablesorter.filterFormatter.select2( $cell, indx, {
            match : false // exact match only
          });
        }
      },
    }

  });
});


</script>
<script type="text/javascript">
    $("#id_ajax_upload_form").uploadprogress({redirect_url: ""});
</script>


<!--
<script type="text/javascript">
    // form upload
    $('#id_ajax_upload_form').submit(function(e){
        e.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        console.log(formData)
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            enctype: 'multipart/form-data',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(evt) {
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        console.log(percentComplete);
                        $('#status').html('<b> Uploading -> ' + (Math.round(percentComplete * 100)) + '% </b>');
                    }
                }, false);
                return xhr;
            },
            success: function (response) {
                $('.error').remove();
                console.log(response)
                if(response.error){
                    $.each(response.errors, function(name, error){
                        error = '<small class="text-muted error">' + error + '</small>'
                        $form.find('[name=' + name + ']').after(error);
                    })
                }
                else{
                    $("#status").html('UPLOADED!!');
                    alert(response.message)
                    window.location = ""
                }
            }
        });
    });
    // end
</script>
-->
<!-- JQuery -->

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.18.0/js/mdb.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-filter-formatter-select2.min.js"></script>
{% endblock %}