html,body {
    height:100%;
    width:100%;
    position: relative;
}
.headline {
    text-align: center !important;
}

.home {
    text-align: center !important;
}
.card-header {
    text-align: center;
}


.register-btn {
    width: 100%!important;
}