h2 {
    text-align: center;
    margin-top: 5%;
}

.container {
    margin-top: 5%;
}

.lgn-container {
    margin-left: 25%;
    margin-right: 25%;
}

.btn-login {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}