{% extends "./base.html" %}
{% load static %}

{% block title %}Your Account{% endblock %}

{% block head %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/forms.css' %}">

{% endblock %}
{% block page_content %}

</br>
<h2 class="headline">Ο Λογαριασμός Μου</h2>
<div class="foreas-account container">
    {% if user.is_foreas %}
    <form class="form-horizontal" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row justify-content-md-center row justify-content-md-center">
            <label for="{{field.id_for_label}}" class="col-sm-2 control-label">{{field.label}}:</label>
            <div class="col-sm-6">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-md-center">
            <input class="btn bg-info btn-lg" type="submit" name="submit" value="Αποθήκευση"/>
        </div>
    </form>

    {% else %}
    {% for xeiristis in object_list %}
    <table class="table table-bordered">
        <tbody>
        <tr class="table-success">
            <th>Όνομα:</th>
            <td>{{ xeiristis.firstname }}</td>
        </tr>
        <tr class="table-info">
            <th>Επίθετο:</th>
            <td>{{ xeiristis.lastname }}</td>
        </tr>
        <tr class="table-success">
            <th>Email:</th>
            <td>{{ xeiristis.email }}</td>
        </tr>
        <tr class="table-info">
            <th>Τμήμα:</th>
            <td>{{ xeiristis.department }}</td>
        </tr>
        <tr class="table-success">
            <th>Αριθμός Γραφείου:</th>
            <td>{{ xeiristis.desk }}</td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}