{% extends "./base.html" %}
{% load static %}

{% block title %}Regulations{% endblock %}

{% block head %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/forms.css' %}">

{% endblock %}

{% block page_content %}
    </br>
    <h2 class="headline">Διαθέσιμα Πεδία Τεχνικής Νομοθεσίας</h2>
    <div class="reglist ">
        <ul class="regulation list-group">
        {% for regulation in regulations %} 
            <li class="list-group-item list-group-item-success"> <a class="list-item-regulation">{{ regulation.regulation }} </a>
                {% for child in regulation.children.all %}
                <ul class="regulationchild list-group"> <li class="list-group-item list-group-item-info">{{child.subField}} </li></ul>
                {% endfor %}
            </li> 
        {% endfor %} 
        </ul>
    </div>
    {% if user.is_ypan %}
    <div class="reg-buttons">
        <a class="reg btn bg-info btn-lg" href="{% url 'new_regulation' %}">Create New Regulation</a>
        </br>
        <a class="subreg btn bg-info btn-lg" href="{% url 'new_subfield' %}">Create New SubField</a>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}