html,body {
    height:100%;
    width:100%;
    position: relative;
}

#foreas-esyd-pending{
    background-color: #4cb4c7;
}


#foreas-esyd-rejected{
    background-color: #d448ff;
}

#foreas-esyd-approved{
    background-color: #7CD1C0;
}