p input {
    display: flow-root;
    width: 20rem;
}

tr.hide-table-padding td {
    padding: 0;
  }
  
  .expand-button {
      position: relative;
  }
  
  .accordion-toggle .expand-button:after
  {
    position: absolute;
    left:.75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
  }
  .accordion-toggle.collapsed .expand-button:after
  {
    content: '+';
  }

.hidden{
    display:none;
}

.filepond--panel-root {
  background-color: #8bb9cc !important;
}