{% extends "base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}

  <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% endblock %}

{% block page_content %}
  <style>
h1 {   
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
</style>
<h1 style ="text-align:center;"><u>Πλατφόρμα Διαχείρισης Αιτημάτων Διαπίστευσης</u></h1>
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}
